:root {
	--color-body: #e8e8e8;
	--color-container: #f2f2f2;
	--color-headings: #4d4d4d;
	--color-paragraph: #999;
	--color-black: #000;
	--color-white: #fff;
	--color-gold: #bfa403;
	--color-badge: #faf9f2;
	--color-gray: #cecece;
	--color-red: #e60045;
	--color-red-darken: #c62f45;
	--color-button: #777777;
	--color-button-darken: #666;
	--font-weigh--light: 300;
	--font-weigh--regular: 400;
	--font-weigh--semibold: 600;
	--font-weigh--bold: 700;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.5;
}

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
	background-color: var(--color-body);
	color: var(--color-black);
}

h1,
h2,
h3 {
	color: var(--color-headings);
	margin-bottom: 16px;
	line-height: 1.5;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 12px;
}

p {
	font-size: 12px;
	margin-top: 0;
	color: var(--color-paragraph);
}

.theme-header {
	text-align: center;
}

.theme-main {
	max-width: 1200px;
	margin: auto;
}

.theme-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 16px;
}

.theme-container {
	background-color: var(--color-container);
	border-radius: 16px;
	margin: 16px;
}

/* Responsive layout */
.theme-container {
	background-color: var(--color-container);
	border-radius: 16px;
	margin: 16px;
}

@media screen and (min-width: 600px) {
	.theme-container {
		margin: 16px;
		padding: 8px;
	}
}

@media screen and (min-width: 768px) {
	.theme-container {
		padding: 16px;
		margin: 32px 16px;
	}
}

/* Mobile first */
.theme-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
	gap: 8px;
	list-style: none;
	padding: 8px;
}

/* small devices (landscape phones, 600px and up) */
@media screen and (min-width: 600px) {
	.theme-list {
		padding: 0px;
		margin: 8px;
	}
}
/* medium devices (desktops 992px and up) */
@media screen and (min-width: 992px) {
	.theme-list {
		gap: 16px;
		padding: 0px;
		margin: 16px;
	}
}

.theme-list__item {
	background-color: var(--color-white);
	border-radius: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 4px;
	padding: 16px;
	transition: transform 0.2s;
	flex-basis: 100%;
}

/* small devices (landscape phones, 600px and up) */
@media screen and (min-width: 600px) {
	.theme-list__item {
		flex-basis: 46%;
	}
}

/* medium devices (desktops 992px and up) */
@media screen and (min-width: 992px) {
	.theme-list__item {
		flex-basis: 30%;
	}
}

.theme-list__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 100%;
}

.theme-list__image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.theme-list__title {
	margin: 0 0 2px 0;
	font-weight: var(--font-weigh--bold);
}

.theme-list__author {
	margin: 0 0 16px 0;
	font-weight: var(--font-weigh--semibold);
	text-transform: lowercase;
}

.theme-list__author-by {
	font-weight: var(--font-weigh--light);
}

.theme-list__top-rated {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 8px;
	background-color: var(--color-gold);
	color: var(--color-badge);
	font-size: 12px;
	font-weight: bold;
}

/* Media query to show the "Top Rated" banner on larger screens */
@media (min-width: 992px) {
	.theme-list__top-rated {
		display: block;
	}
}

.theme-list__rating {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.theme-list__rating-star {
	width: 16px;
	height: 16px;
	margin: 0;
	fill: var(--color-gray);
	vertical-align: middle;
}

.theme-list__rating-star--fill {
	width: 16px;
	height: 16px;
	margin: 0;
	fill: var(--color-gold);
	vertical-align: middle;
}

.theme-list__remove-icon {
	width: 14px;
	height: 14px;
	fill: var(--color-red);
	cursor: pointer;
	vertical-align: middle;
}

.theme-list__remove-icon:hover {
	fill: var(--color-red-darken);
}

.theme-list__btn-remove {
	color: var(--color-button);
	background-color: transparent;
	border: 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
}

.theme-list__btn-remove:hover {
	color: var(--color-button-darken);
}

.theme-list__btn-remove span {
	vertical-align: middle;
	margin-right: 2px;
}

.error-message {
	display: none;
	text-align: center;
	font-size: 16px;
	color: var(--color-black);
}
